{% extends 'bootstrap/base.html' %}
{% block title %}YouDoIt{% endblock %}
{% block content %}
<div id="loopvids">
    <table class="table table-dark table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th style="width: 75%" scope="col" align="center">Loop Video</th>
            <th scope="col" align="center">Download Options</th>
            <th scope="col" align="center">History</th>
        </tr>
        </thead>
        <tbody>
        {% for result in yplayers['res'] %}
        <tr>
            <th scope="row">{{ result['id'] }}</th>
            <td style="width: 75%">
                <div class="embed-responsive embed-responsive-16by9">
                    <div id="{{ result['pid'] }}">
                    </div>
                </div>
            </td>
            <td align="center">
                <div>
                    <div name="downloadoptns">
                        <form>
                            <input type="hidden" id="vid" name="vid" value="{{ result['vid'] }}">
                            <label for="type">Format to download (default - audio and video)</label>
                            <select class="form-control" id="type" name="type">
                                <option value="audio">Audio</option>
                                <option value="avio" selected>Audio and Video</option>
                            </select>
                            <input type="button" id="btn_{{ result['vid'] }}" onclick="youtubedl(this.id)"
                                   value="Submit">
                        </form>
                    </div>
                </div>
            </td>
            <td align="center">History</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript">
  var playerInfoList = {{ yplayers['res']|tojson }}
  function onYouTubeIframeAPIReady() {
      if(typeof playerInfoList === 'undefined')
          return;

      for(var i = 0; i < playerInfoList.length; i++) {
          var curplayer = createPlayer(playerInfoList[i]);
      }
  }
  function onPlayerStateChange(event) {
      if(event.data == YT.PlayerState.ENDED) {
          event.target.seekTo(0);
          event.target.playVideo();
    }
  }
  function createPlayer(playerInfo) {
      return new YT.Player(playerInfo.pid, {
          videoId: playerInfo.vid,
          events: {
        'onStateChange': onPlayerStateChange
        }});
  }
  function youtubedl(btn_id) {
    var form_id = $("input#"+btn_id).parent();
    var url = "/youtubedl?"+ form_id.serialize();
    $.get(url, function(data){
      $(form_id.parent()).html("<strong>Saved path: [</strong>" + data.savedpath + "] and <strong>Status</strong> is: [" + data.status + "]");
    });
  }

</script>
{% endblock %}
